.boxHome {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxTitle {
    border: 1px solid red;
    text-align: center;
}

.boxOptions {
    width: 100%;
    border:  1px solid blue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.boxOption {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 14px;
    /* border: 1px solid orange; */
}

.boxOption img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    border-radius: 14px;
    /* cursor: pointer; */
}